.nav-danger.nav-pills .nav-link.active {
    background-color: #dc3545;
}
.nav-danger a {
    color: #7c7c7c;
}
.bg-dark .nav-danger a {
    color: #ddd;
}
.bg-dark .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}
/* Columns Helpers */
.w-5 {
    width: 5% !important;
}
.w-10 {
    width: 10% !important;
}
.w-40 {
    width: 40% !important;
}
.w-65 {
    width: 65% !important;
}
/* Images */
td img.w-cover {
    width: 65px;
    height: 65px;
    background-color: #ddd;
}
.table-sm td img.w-cover {
    width: 35px;
    height: 35px;
}

small.text-secondary {
    font-size: 70%;
}
.table th, .table td {
    vertical-align: middle;
}
table td {
    line-height: 1;
    font-size: 1.25rem;
}
table td.title-both {
    line-height: 1.4;
    padding-top: 0px;
    padding-bottom: 0px;
}
.table-sm td.title-both {
    line-height: 1.1;
}
.table-sm td {
    font-size: 1rem;
}
@media (max-width: 767px) {
    .border-on-info {
        border-left: 0 !important;
        border-top: 1px solid #dee2e6;
    }
}
.min-albums {
    min-width: 250px;
}
.min-tracks {
    min-width: 200px;
}
.min-artists {
    min-width: 200px;
}
td.title {
    font-weight: 500;
    font-size: 1.1rem;
}
.table-sm td.title {
    font-size: 1rem;
}
td.title .sub {
    font-weight: 400;
}
td:first-child {
    font-weight: 500;
}
.b-run {
    width: 2.2em;
    height: 2.2em;
    font-size: 0.9rem;
}
.popover-header {
    text-transform: capitalize;
}
.popover {
    text-align: center;
    max-width: 135px;
}
.popover-body {
    padding-top: 0;
}
.no-line td {
    border-top: 0 !important;
}
.bg-dark .table th, .bg-dark .table td {
    border-top: 1px solid #343a40;
}
.small-legend {
    font-size: 0.8em;
}
.chart-nav {
    line-height: 1;
    font-size: 1.4em;
    padding-top: 0;
}
.bg-light.chart-table {
    background-color: white !important;
}
.bg-dark table {
    background-color: #0c1219;
}

.bg-dark .table-striped tbody tr:nth-of-type(2n) {
    background-color: #292d31;
}